.footer-row {
	width: 100%;
	background-color: rgb(236, 196, 120);
	font-size: 15px;
	color: #101011;
	height: 10vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	position: fixed;
	bottom: 0;
}
.footer-row ul {
	padding-right: 40px;
}

.footer-row p {
	padding-left: 40px;
	text-align: center;
}
.icons {
	text-align: right;
}

.footer-icons {
	text-align: right;
	flex-direction: row-reverse;
	padding: 0px;
}

.footer-row .footer-icons a {
	width: 40px;
	height: 40px;
	margin-left: 6px;
	margin-right: 0;
}
.footer-icons a {
	background-color: #eceeef;
	color: #e0e6ff;
	font-size: 16px;
	width: 44px;
	text-align: center;
	margin-right: 8px;
	justify-content: space-evenly;
}

@media (max-width: 560px) {
	.footer-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 10px auto;
	}
}
@media (max-width: 180px) {
	.footer-row {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		padding: 5px auto;
	}
}
